body {
  text-align: center;
  background-color: dodgerblue;
}

.table {
  border-collapse: collapse;
}

.container {
  margin-top: 10%;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div {
  align-items: center;
}

h1 {

}

h3 {

}
.square {
  border: solid black 1px;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: white;
  margin-bottom: -5px;
  margin-left: -2px;
}
.rainbow {

}

.table {
  margin-top: 5%;
  border-collapse: collapse;
  text-align: center;
}
