body {
    text-align: center;
    background-color: dodgerblue;
}
.table {
    border-collapse: collapse;
}
.container {
    margin-top: 10%;
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
div #play-stop {
    display: inline-block;
}
div {
    align-items: center;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    color: white;
    opacity: 0.8;
    letter-spacing: 3px;
}
h2 {
    font-family: 'Lato', sans-serif;
    color: white;
    opacity: 0.8;
    letter-spacing: 2px;
}
h4 {
    font-family: 'Lato', sans-serif;
    color: white;
    opacity: 0.8;
    letter-spacing: 2px;
}
.square {
    border: solid dodgerblue 1px;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: white;
    opacity: 0.75;
    margin-bottom: -4px;
    margin-left: -3px;
    border-radius: 50%;
}
.container {
    margin-top: 2em;
    border-collapse: collapse;
    text-align: center;


}
#play {
    height: auto;
    font-size: 2em;
    color: white;
    opacity: 0.75;
    margin-right: 3em;
}
#stop {
    height: auto;
    font-size: 2em;
    color: white;
    opacity: 0.75;
    margin-right: 3em;
}
#reset {
    height: auto;
    font-size: 2em;
    color: white;
    opacity: 0.75;
}
.playing {
    background-color: lightblue;
}

div .row .buttons {
  display: inline-flex;
}
