body {
    text-align: center;
    background-color: dodgerblue;
}


.button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
div #play-stop {
    display: inline-block;
}
div {
    align-items: center;
}

#header-main {

  margin-bottom: 0;
}


#header-sub {

  margin-top: 0;
  margin-bottom: 0;
}

#header-last {

  margin-bottom: 1em;
}

#header {

  text-align: center;
  margin:  0 auto;
}

#soundcloud {

}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    color: white;
    opacity: 0.8;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    color: white;
    opacity: 0.8;
    letter-spacing: 2px;
}
h4 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: white;
    opacity: 0.8;
    letter-spacing: 2px;
}
.square {
    border: solid dodgerblue 1px;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: white;
    opacity: 0.75;
    margin-bottom: -10px;
    margin-top: -10px;
    margin-left: -1px;
    border-radius: 50%;
}
/*.container {

    border-collapse: collapse;
    text-align: center;


}*/
#play {
    height: auto;
    font-size: 2em;
    color: white;
    opacity: 0.75;
    float: none;
    margin-bottom: 10px;
}
#stop {
    height: auto;
    font-size: 2em;
    color: white;
    opacity: 0.75;
    float: none;
    margin-bottom: 10px;
}
#reset {
    height: auto;
    font-size: 2em;
    color: white;
    opacity: 0.75;

    float: none;
}


.playing {
    background-color: lightblue;
}



/*#controls-container {
  /*flex-grow: 1;*/
  /*justify-content: space-around;*/
  /*width: 20%;*/
  /*margin: 10px;*/
  /*border-color: #444;*/
  /*padding: 5px;*/
  /*float: left;
/*}*/*/*/
