body {
    text-align: center;
    background-color: dodgerblue;
}

div {
    align-items: center;
}

#header-main {
  margin-bottom: 0;
}

#header-sub {
  margin-top: 0;
  margin-bottom: 0;
}

#header-last {
  margin-bottom: 1em;
}

#header {
  text-align: center;
  margin:  0 auto;
}



h1 {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    color: white;
    opacity: 0.8;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    color: white;
    opacity: 0.8;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: white;
    opacity: 0.8;
    letter-spacing: 2px;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: white;
  opacity: 0.60;
  letter-spacing: 2px;
}
.square {
    border: solid dodgerblue 1px;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: white;
    opacity: 0.75;
    margin-bottom: -10px;
    margin-top: -10px;
    margin-left: -1px;
    border-radius: 50%;
}

#play {
    height: auto;
    font-size: 3.5em;
    color: white;
    opacity: 0.60;
    margin-bottom: 10px;
    margin-right: 50px;
    align-items: center;



}
#stop {
    height: auto;
    font-size: 3.5em;
    color: white;
    opacity: 0.60;
    margin-bottom: 10px;
    margin-right: 50px;
    align-items: center;

}
#reset {
    height: auto;
    font-size: 3.5em;
    color: white;
    opacity: 0.60;
    align-items: center;
}


.playing {
    background-color: lightblue;
}

#controls {
  display: inline-block;
  align-items: center;
}

header {
  float: right;
  margin-right: 20px;
  color: white;
}

#facebook {
  font-size: 2em;
  opacity: .60;
  margin-right: 2px;
  color: white;
}

#twitter {
  font-size: 2em;
  opacity: .60;
  color: white;
  margin-right: 1px;
  margin-left: 2px;
  margin-top: 5px;
}

#piano {
  font-size: 2em;
  opacity: .60;
  color: white;
  margin-top: 5px;
  margin-right: 5px;
}

footer {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: white;
  opacity: 0.60;
  float: left;
  display: inline;
  position:fixed;
  bottom: 30px;
  margin-left: 20px;

}

/*.fa .fa-info-circle {
  font-size: 2em;
  opacity: .60;
  color: dodgerblue;
  margin-right: 1px;
  margin-left: 2px;
  margin-top: 5px;
}*/
